.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fff;
}

.input {
  height: 3rem;

  border: 1px solid var(--border-primary);
  padding: 0.75rem;
  border-radius: 0.5rem;

  display: flex;
}

.input-area {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  padding: 8px 12px;
}

.input i {
  margin-right: 0.5rem;
}

input,
textarea {
  flex: 1;
  font-family: var(--ff-inter);

  font-size: 1rem;
  color: #b2afb6;
  background-color: transparent;

  outline: none;
  border: none;
}

textarea {
  resize: none;
  height: 80px;
}

.input:hover,
.input-area:hover {
  border: 1.5px solid var(--border-secondary);
}

.input:focus-within,
.input-area:focus-within {
  border: 1.5px solid var(--brand);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url("../assets/icons/arrow-down.svg") no-repeat;
}
